<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Warranty</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <script src=”https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js” integrity=”sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo” crossorigin=”anonymous”></script>
  
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
    <a class="navbar-brand" href="#">Home</a>
      <a class="navbar-brand" href="#">Support</a>
      <a class="navbar-brand" href="#">My account</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href='#'>My Account</a>
      </li>
      </ul>
    </div>
    </div>
  </nav>
  <h1>Check Product Warranty</h1>
    <div class="container">
      <h2>Region of purchase:</h2>
        <form method="post">
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Enter Your Country:</span>
            <div class="form-group">
              <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Country" required="true"></div>
          </div>
      <h2>Serial Number</h2>
        <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Enter The Product Serial Number:</span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="HU265BM18V">
        </div>
        </form>
    </div>

  <h1>Check Multiple Warranty</h1>
  Have more than one warranty to check? Use our multiple warranty check option to streamline the process.<br>
  <div class="position-absolute bottom-50 end-0">
    <button type="button" class="btn btn-primary" id="right-panel-link" href="#right-panel">Continue</button>
  </div>
</body>
</html>